[submodule "Agents_e1a"]
	path = Agents_e1a
	url = https://github.com/Arquisoft/Agents_e1a.git
[submodule "Loader_e1a"]
	path = Loader_e1a
	url = https://github.com/Arquisoft/Loader_e1a.git
[submodule "InciManager_e1a"]
	path = InciManager_e1a
	url = https://github.com/Arquisoft/InciManager_e1a.git
[submodule "InciDashboard_e1a"]
	path = InciDashboard_e1a
	url = https://github.com/Arquisoft/InciDashboard_e1a.git
